<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <div class="row my">
        <!--filters-->
        <div class="col-md-3 thumbnail my-container-blur result-filter-container">
          <h5 class="text-center">Fecha</h5>
          <div class="row text-center">
            <!--<calendar />-->
            <input type="hidden" id="2-date-picker-input" ng-model="date" ng-change="updateDate()"/>
          </div>
          <div class="my-border-bottom">
          </div>
          <div class="row">
            <h5 class="text-center ">Hora de inicio</h5>
          </div>
          <div class="row filters-margin">
            <div class="col-md-6 col-xs-12">
              <div class="row text-center">
                <h6>Desde</h6>
              </div>
              <div class="row">
                <div class="col-md-10 col-xs-10 col-xs-offset-1">
                  <fieldset class="form-group">
                    <select ng-model="selectedBeginTime"
                            ng-change="updateBeginTime()"
                            ng-options="time.id as time.displayName for time in beginTimes"
                            class="form-control" id="form_control_begin">
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="row text-center">
                <h6>Hasta</h6>
              </div>
              <div class="row">
                <div class="col-md-10 col-xs-10 col-xs-offset-1">
                  <fieldset class="form-group">
                    <select ng-model="selectedEndTime"
                            ng-change="updateEndTime()"
                            ng-options="time.id as time.displayName for time in endTimes"
                            class="form-control" id="form_control_end">
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <div class="my-border-bottom">
          </div>
          <div class="row my-text-left-2">
            <h5 class="filters-margin text-center">Tamaño</h5>
          </div>
          <div class="row my-text-left-2">
            <div class="col-xs-8 col-xs-offset-2">
              <fieldset class="form-group">
                <select ng-model="selectedSize"
                        ng-options="size for size in sizes"
                        ng-change="updateSize(selectedSize)"
                        class="form-control-size form-control" id="form-control-size">
                </select>
              </fieldset>
            </div>
          </div>
          <div class="my-border-bottom">
          </div>
          <div class="row my-text-left-2">
            <h5 class="filters-margin text-center">Barrio</h5>
          </div>
          <div class="row filters-margin my-text-left-2">
            <div class="col-xs-8 col-xs-offset-2">
              <fieldset class="form-group">
                <select ng-model="selectedState"
                        ng-options="state.id as state.name for state in states"
                        ng-change="updateState(selectedState)"
                        class="form-control-states form-control" id="form_states"></select>
              </fieldset>
            </div>
          </div>
          <div class="my-border-bottom">
          </div>
          <div class="row my-text-left-2">
            <h5 class="filters-margin text-center">Suelo</h5>
          </div>
          <div class="row filters-margin my-text-left-2 ">
            <div class="col-xs-8 col-xs-offset-2">
              <fieldset class="form-group">
                <select ng-model="selectedFloor"
                        ng-options="floor.id as floor.displayName for floor in floors"
                        ng-change="updateFloor()"
                        class="form-control-floors form-control" id="form_floor">
                </select>
              </fieldset>
            </div>
          </div>

        </div>

        <div class="col-md-9">
          <div class="panel panel-success result-container my-container-blur">


            <div ng-show="!results" class="panel panel-default result padding-left my-overflow loading-card-container">
              <div class="loading-card"><img src='images/loading.gif'/>
                <div class="loading-text">Procesando</div>
              </div>
            </div>


            <div ng-show="emptyResults"
                 class="panel panel-default result padding-left my-overflow loading-card-container">
              <div class="loading-card">
                <div class="no-results-text ">No se encontraron resultados que coincidan con su criterio de búsqueda.
                </div>
              </div>
            </div>

            <resultcard/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
