<html lang="en">
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="panel panel-success result-container my-container-blur2">
        <div class="panel-heading">
          <div id="general-name">
            {{complex.name}}
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4 text-center">
              <div class="filter-details showall-complex-details">
                <div>
                  <label>Complejo: </label>
                  <span>{{complex.name}}</span>
                </div>
                <div>
                  <label>Dirección: </label>
                  <span>{{complex.address}}</span>
                </div>
                <div>
                  <label>Teléfono: </label>
                  <span>{{complex.phone}}</span>
                </div>
                <div>
                  <label>Email: </label>
                  <span>{{complex.email}}</span>
                </div>
                <br>
                <div>
                  <label>Fecha: </label>
                  <span>{{date}}</span>
                </div>
                <div ng-show="floor != undefined">
                  <label>Suelo: </label>
                  <span>{{params.floorName}}</span>
                </div>

              </div>

              <button id="back-btn" ng-click="backButton()" type="button" class="btn btn-default btn-block text-right">
                Volver
              </button>

            </div>
            <div class="col-xs-8 text-center">

              <table class="table" id="pitchTable">
                <thead>
                <tr>
                  <th ng-show="floor" class="col-md-3">Hora</th>
                  <th ng-show="!floor" class="col-md-4">Hora</th>

                  <th ng-show="floor" class="col-md-3">Precio</th>
                  <th ng-show="!floor" class="col-md-4">Precio</th>

                  <th ng-show="!floor" class="col-md-4">Suelo</th>

                  <th ng-show="!floor" class="col-md-3">Reservar</th>
                  <th ng-show="floor" class="col-md-4">Reservar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="current in pitches">
                  <td ng-show="floor" class="col-md-3">{{current.startTime}}:00 hs</td>
                  <td ng-show="!floor" class="col-md-4">{{current.startTime}}:00 hs</td>
                  <td ng-show="floor" class="priceTag col-md-3">${{current.price}}</td>
                  <td ng-show="!floor" class="priceTag col-md-4">${{current.price}}</td>
                  <td ng-show="!floor" class="col-md-4">{{current.floor}}</td>
                  </td>
                  <td ng-show="!floor" class="col-md-4">
                    <button ng-click="book(current)"
                            class="btn-block btn btn-success btn-block text-left reserve-btn ">
                      <span class="glyphicon glyphicon-ok element-button-icon" aria-hidden="true"></span>
                      Reservar
                    </button>
                  </td>
                  <td ng-show="floor" class="col-md-3">
                    <button ng-click="book(current)"
                            class="btn-block btn btn-success btn-block text-left reserve-btn ">
                      <span class="glyphicon glyphicon-ok element-button-icon" aria-hidden="true"></span>
                      Reservar
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<!-- /.container -->

</body>

</html>
