<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-1">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="sidebar-brand">
              Panel de Control
            </li>
            <li id="complex_selector">
              <div id="complex_label">Complejo</div>
              <select ng-model="selectedcomplex"
                      ng-options="complex.complexId as complex.name for complex in complexes"
                      ng-change="updatebyfilters(selectedcomplex)"
                      class="form-control-states form-control" id="form_states">
              </select>
            </li>
            <li id="reserves-admin-tab" class="selected-admin-tab">
              <a href="#/admin" ng-click="showReserve()" id="reserves_btn">Disponibilidad</a>
            </li>
            <li id="status-admin-tab">
              <a href="#/admin" ng-click="showStatus()" id="status_btn">Detalles del Complejo</a>
            </li>
            <li id="schedules-admin-tab">
              <a href="#/admin" ng-click="showSchedule()" id="schedules_btn">Horarios y precios</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 col-xs-12 col-xs-offset-1">
        <div class="panel panel-success result-container my-container-blur2" id="panel-content">
          <div id="reserves" class="tabbable full-width-tabs" ng-show="bshowReserve">
            <ul class="nav nav-tabs">
              <li class="active" id="reserve-tab"><a data-toggle="tab" href="#Reservas">Reservas</a></li>
              <li id="available-tab"><a data-toggle="tab" href="#Disponibles">Disponibles</a></li>
            </ul>
            <div class="row">
              <div class="col-md-5 col-xs-12 text-center">
                <div class="row text-center">
                  <h4>Fecha</h4>
                </div>
                <div class="row text-center">
                  <input type="hidden" id="3-date-picker-input"/>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <div class="row text-center">
                      <h4>Desde</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-10 col-xs-10 col-xs-offset-1">
                        <fieldset class="form-group width-full">
                          <select ng-model="selectedbegin"
                                  ng-options="begin.id as begin.value for begin in starttimes"
                                  ng-change="updatestarttime()"
                                  class="form-control form-control-begin"
                                  id="form-control-begin">

                          </select>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <div class="row text-center">
                      <h4>Hasta</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-10 col-xs-10 col-xs-offset-1">
                        <fieldset class="form-group width-full">
                          <select ng-model="selectedend"
                                  ng-options="end.id as end.value for end in endtimes"
                                  ng-change="updateendtime()"
                                  class="form-control form-control-end"
                                  id="form-control-end">
                          </select>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xs-12 padding-input">
                    <div class="row text-center">
                      <h4>Nombre de Usuario</h4>
                    </div>
                    <form id="formName" ng-submit="updatebyfilters(selectedcomplex)">
                      <input ng-model="usernameadmin" type="text"
                             class="form-control margin-bottom" id="usr">
                      <input type="button" style="display: none">
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content my-overflow" ng-show="!isLoading">
              <div id="Disponibles" class="tab-pane fade" ng-show="!isLoading">
                <div ng-show="!emptyResults">
                  <div class="row text-center">
                    <div class="col-xs-2 padding-top">
                      <h5>Hora</h5>
                    </div>
                    <div class="col-xs-2 padding-top">
                      <h5>Cancha</h5>
                    </div>
                    <div class="col-xs-2 padding-top">
                      <h5>Tamaño</h5>
                    </div>
                    <div class="col-xs-2 padding-top">
                      <h5>Suelo</h5>
                    </div>
                    <div class="col-xs-2 padding-top">
                      <h5>Precio</h5>
                    </div>
                  </div>
                  <div class="availableToAppend" ng-repeat="pitchAvailable in availables">

                    <div class="row border-top text-center">
                      <div class="col-xs-2 padding-top">
                        <p> {{pitchAvailable.startTime }}:00</p>
                      </div>
                      <div class="col-xs-2 padding-top">
                        <p>{{pitchAvailable.pitchId }}</p>
                      </div>
                      <div class="col-xs-2 padding-top">
                        <p>{{pitchAvailable.size}}</p>
                      </div>
                      <div class="col-xs-2 padding-top">
                        <p>{{pitchAvailable.floorName }}</p>
                      </div>
                      <div class="col-xs-2 padding-top">
                        <p>{{pitchAvailable.price}}</p>
                      </div>
                      <div class="col-xs-2 padding-top-btn">
                        <button type="button"
                                ng-click="makebooking(pitchAvailable.pitchId,
                                                        pitchAvailable.startTime,
                                                        pitchAvailable.complexId,
                                                        pitchAvailable.date)"
                                class="btn btn-success btn-block booking-btn">
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"> Reservar </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="emptyResults"
                     class="panel panel-default result padding-left my-overflow loading-card-container">
                  <div class="loading-card">
                    <div class="no-results-text ">No se encontraron resultados que coincidan con su criterio de
                      búsqueda.
                    </div>
                  </div>
                </div>
              </div>

              <br>
              <div id="Reservas" class="tab-pane bookings active" ng-show="!isLoading">
                <div ng-show="!emptyResultsBookings">
                  <div class="row text-center table-header my-no-padding-left">
                    <div class="col-xs-2 padding-top">
                      <h5>Fecha</h5>
                    </div>
                    <div class="col-xs-2 padding-top">
                      <h5>Hora</h5>
                    </div>
                    <div class="col-xs-2 padding-top">
                      <h5>Cancha</h5>
                    </div>
                    <div class="col-xs-2 padding-top">
                      <h5>Pagó</h5>
                    </div>
                    <div class="col-xs-2 padding-top">
                      <h5>Usuario</h5>
                    </div>
                  </div>
                  <div class="my-border-bottom">
                  </div>
                  <div class="bookingToAppend"
                       ng-repeat="booking in bookings  | filter : { bookerUsername: usernameadmin}">
                    <div class="row border-top text-center">
                      <div class="col-xs-2 padding-top">
                        <p> {{booking.stringDate}} </p>
                      </div>
                      <div class="col-xs-2 padding-top">
                        <p>{{booking.begin}}:00</p>
                      </div>
                      <div class="col-xs-2 padding-top">
                        <p>{{booking.pitchId }}</p>
                      </div>
                      <div class="col-xs-2 padding-top">
                        <p>{{ booking.paid }}</p>
                      </div>
                      <div class="col-xs-2 padding-top">
                        <p>{{booking.bookerUsername}}</p>
                      </div>
                      <div class="col-xs-1 col-xs-offset-1 padding-top-btn">
                        <button type="button"
                                ng-click="removebooking(booking.pitchId,
                                                        booking.complexId,
                                                        booking.date,
                                                        booking.begin)"
                                class="btn btn-danger btn-block remove">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                      </div>

                    </div>
                  </div>
                </div>
                <div ng-show="emptyResultsBookings"
                     class="panel panel-default result padding-left my-overflow loading-card-container">
                  <div class="loading-card">
                    <div class="no-results-text ">No se encontraron resultados que coincidan con su criterio de
                      búsqueda.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="isLoading" class="panel panel-default result padding-left my-overflow loading-card-container">
            <div class="loading-card"><img src='images/loading.gif'/>
              <div class="loading-text">Procesando</div>
            </div>
          </div>

          <!--Complex details-->
          <div id="status" ng-show="bshowStatus">
            <div class="panel-body">
              <div class="row">
                <h1 class="content-title">Detalles del complejo</h1>
                <br>
                <div class="row" id="complex-details-form-row">
                  <div class="filter-details">
                    <div>
                      <label path="address">Dirección: </label>
                      {{currentcomplex.address}}
                    </div>
                    <div>
                      <label path="phone">Teléfono: </label>
                      <div ng-show="!phoneModify" class="general-input-format">
                        <input path="phone" name="phone" type="text"
                               class="form-control modify-field-input"
                               readonly="true"
                               ng-model="oldphone"
                        />
                      </div>
                      <div ng-show="phoneModify" class="general-input-format">
                        <form ng-submit="submitphone()" class="inline-block-space-form">
                          <input path="phone" name="phone" type="text"
                                 class="form-control input-enabled-background"
                                 ng-model="newphone"
                          />
                        </form>
                      </div>
                      <button type="button" name="phone"
                              class="btn btn-default btn-circle btn-modify"
                              ng-click="modifyphone(true)"
                              data-toggle="modal" data-target=""><i class="glyphicon glyphicon-pencil"></i>
                      </button>
                    </div>
                    <!--    <form:errors path="phone" class="form-warning" element="div"/> -->
                    <div>
                      <label path="email">Email: </label>
                      <div ng-show="!emailModify" class="general-input-format">
                        <input path="email" name="email" type="text"
                               ng-model="oldemail"
                               class="form-control modify-field-input"
                               readonly="true"
                        />
                      </div>
                      <div ng-show="emailModify" class="general-input-format">
                        <form ng-submit="submitemail()" class="inline-block-space-form">
                          <input path="email" name="email" type="text"
                                 ng-model="newemail"
                                 class="form-control input-enabled-background"
                          />
                        </form>
                      </div>
                      <button type="button" name="email"
                              class="btn btn-default btn-circle btn-modify"
                              ng-click="modifyemail(true)"
                              data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>
                      </button>
                    </div>
                    <!--       <form:errors path="email" class="form-warning" element="div"/> -->
                    <br>
                  </div>
                </div>
              </div>
              <br>
              <div class="my-border-bottom">
              </div>
              <br>
              <div class="row">
                <h1 class="content-title">Fechas de cierre</h1>
                <br>
                <!-- input fields -->
                <div class="row text-center special-conditions-data">
                  <div class="col-md-5 col-xs-12">
                    <div class="row">
                      <h4>Desde</h4>
                    </div>
                    <div class="row">
                      <input type="hidden" id="4-date-picker-input"/>
                    </div>
                  </div>
                  <div class="col-md-5 col-xs-12">
                    <div class="row">
                      <h4>Hasta</h4>
                    </div>
                    <div class="row">
                      <input type="hidden" id="5-date-picker-input"/>
                    </div>
                  </div>
                  <div class="col-md-2 col-xs-12" id="special-condition-add-btn-row">
                    <button id="special-condition-add-btn" type="button" class="btn btn-success"
                            ng-click="addexception()">
                      Agregar
                    </button>
                  </div>
                </div>
                <div ng-repeat="exc in ac.exceptions">
                  <tr>
                    <td class='beginDate'>{{exc.beginDate}}</td>
                    <td class='endDate'>{{exc.endDate}}</td>
                    <td class='col-md-2 delete-condition'>
                      <a href='#'><span class='glyphicon glyphicon-trash'></span></a></td>
                  </tr>
                </div>
                <br>
                <br>
                <div class="row text-center special-conditions-data table-responsive">
                  <table class="table table-hover" id="special-conditions-table">
                    <thead>
                    <tr>
                      <th class="col-md-5 text-center">Desde</th>
                      <th class="col-md-5 text-center">Hasta</th>
                      <th class="col-md-2 text-center">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody class="table-body-schedule-exceptions">
                    <tr ng-repeat="exc in exceptions">
                      <td class='beginDate'>{{exc.beginDate}}</td>
                      <td class='endDate'>{{exc.endDate}}</td>
                      <td class='col-md-2 delete-condition'>
                        <button class="btn btn-danger" ng-click="removeexception(exc.beginDate,exc.endDate)">
                          <span class='glyphicon glyphicon-trash color-white'></span>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>


          <!--Schedule details-->
          <div id="schedules" ng-show="bshowSchedule">
            <div class="panel-body">
              <div class="row">
                <h1 class="content-title">Horarios y precios</h1>
              </div>
              <div class="row">

                <div class="col-lg-4 text-center schedules-filter-table">

                  <div class="row schedule-table-header">
                    <div class="col-md-6">
                      <div class="row">
                        <h4 class="filters-margin middle-block">Suelo</h4>
                      </div>
                      <div class="row filters-margin my-text-left">
                        <select ng-model="selectedPitchFloor"
                                ng-options="pitch as pitch for pitch in pitchFloorList"
                                ng-change="updatePitchFloor(selectedPitchFloor)"
                                class="form-control-states form-control" id="pitch_floors">
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <h4 class="filters-margin middle-block">Tamaño</h4>
                      </div>
                      <div class="row filters-margin my-text-left">
                        <select ng-model="selectedPitchSize"
                                ng-options="size as size for size in pitchSizeList"
                                ng-change="updatePitchSize(selectedPitchSize)"
                                class="form-control-states form-control" id="pitch_sizes">
                        </select>
                      </div>
                    </div>
                  </div>

                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th class="text-right"><span class="schedules-text-right">Todos</span><input type="checkbox"
                                                                                                   class="btn btn-success"
                                                                                                   id="selectAllPitchesCheck"
                                                                                                   ng-model="allSelected"
                                                                                                   ng-change="selectAllPitches()"/>
                      </th>
                      <th></th>
                      <th>Id</th>
                      <th>Suelo</th>
                      <th>Tamaño</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="current in filterPitches">
                      <td scope="row" class="pitch-row">
                        <div class="form-group schedules-pitches has-success">
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" ng-change="scheduleUpdateValues()" ng-model="current.selected"
                                   class="custom-control-input pitch-checkbox">
                          </label>
                        </div>
                      </td>
                      <td class="pitch-row"></td>
                      <td class="pitch-row">{{current.pitchId}}</td>
                      <td class="pitch-row">{{current.floor}}</td>
                      <td class="pitch-row">{{current.size}}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>
                <div class="col-lg-7 col-lg-offset-1" id="schedule_container"></div>
                <div class="col-lg-7 col-lg-offset-1" ng-hide="selectedPitch">
                  <br><br><br><h4>Seleccione una cancha para modificar horarios y precios.</h4>
                </div>

              </div>
              <div class="row save-schedule-changes">
                <button type="button" ng-hide="!selectedPitch" ng-click="scheduleResetModal()" class="btn btn-default">
                  Descartar cambios
                </button>
                <button type="button" ng-hide="selectedPitch" class="btn btn-default disabled">Descartar cambios
                </button>
                <button type="button" ng-hide="!selectedPitch" ng-click="scheduleSaveModal()" class="btn btn-success">
                  Guardar
                </button>
                <button type="button" ng-hide="selectedPitch" class="btn btn-success disabled">Guardar</button>
                <span ng-show="scheduleChangesSaved"> Cambios guardados correctamente</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->


<!-- /.container -->


<!-- Modal -->
<div id="scheduleReset" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Descartar cambios</h4>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro que deseas revertir los cambios hechos sobre los precios?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button"
                class="btn btn-success"
                ng-click="resetChanges()">Descartar cambios
        </button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="scheduleSave" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Guardar cambios</h4>
      </div>
      <div class="modal-body">
        <p>Estás por cambiar los precios de las canchas seleccionadas. ¿Estás seguro?</p>
      </div>
      <div class="modal-footer">

        <div ng-show="!savingSchedules">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button"
                  class="btn btn-success"
                  ng-click="saveChanges()">Guardar precios y horas
          </button>
        </div>
        <div ng-show="savingSchedules">
          <div class="loading">
            <img src='images/loading.gif'/> Guardando cambios
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
          class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Cancelar una reserva</h4>
      </div>
      <div class="modal-body" id="delete-entry">
        ¿Está seguro que querés eliminar la reserva?
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" data-dismiss="modal">Volver</button>
        <button type="button" id="delete_reserve" class="btn btn-default" ng-click="confirmremove()">Cancelar reserva
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!-- /.modal-content -->

<div class="modal fade" id="delete-condition-modal" tabindex="-1" role="dialog" aria-labelledby="edit"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" ng-show="!isLoading">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
          class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="delete-condition-heading">Eliminar condición especial</h4>
      </div>
      <div class="modal-body" id="delete-condition-entry">
        ¿Estás seguro que querés eliminar la condición especial?
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
        <button type="button" id="delete-condition-confirm"
                class="btn btn-success"
                ng-click="confirmremoveexception()">Eliminar
        </button>
      </div>
    </div>
    <div class="modal-content" ng-show="isLoading">
      <div class="loading-card"><img src='images/loading.gif'/>
        <div class="loading-text">Procesando</div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>


<div class="modal fade" id="no-username-modal" tabindex="-1" role="dialog" aria-labelledby="edit"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
          class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="no-username-modal-heading">Debes ingresar un nombre para hacer la
          reserva</h4>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
