ul.sidebar-nav {
  color: white;

  .selected-admin-tab {
    background-color: #434343;
    a {
      color: white;
    }
  }
}

#error-details {
  font-size: 1em;
  padding-left: 1em;
}

#general-name {
  font-size: 1em;
  font-weight: bold;
  padding-left: 1em;
}

#sidebar-wrapper li.active {
  background-color: #332f2f;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  margin-top: -1.4em;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.form-group.schedules-pitches.has-success {
  margin: 0em;
}

th {
  text-align: center;
}

.schedule-table-header {
  padding-bottom: 1em;
}

.form-group.schedules-pitches.has-success {
  text-align: right;
}

.schedules-text-right {
  text-align: right;
  padding-right: 0.5em;
}

.schedules-filter-table {
  padding-top: 2em;
}

.table-hover tbody tr:hover .pitch-row {
  background-color: #9dd999;
}

.table-hover tbody tr.pitch-row {
  background-color: #7dd97a;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.full-width-tabs > ul.nav.nav-tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.full-width-tabs > ul.nav.nav-tabs > li {
  float: none;
  display: table-cell;
}

.full-width-tabs > ul.nav.nav-tabs > li > a {
  text-align: center;
}

.form-group.width-full {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 2%;
}

.border-top {
  border-top: solid 1px;
  border-top-color: #C7C7C7;
}

.my-overflow {
  overflow: hidden;
  border-color: black;
}

.padding-top {
  padding-top: 0.7%;
}

.padding-top-btn {
  padding-top: 0.2%;
}

.padding-input {
  padding-left: 6.5%;
  padding-right: 6.5%;
}

div#complex_label {
  margin-left: -1em;
}

li#complex_selector {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 2em;
}

.row.text-center.table-header {
  padding-left: 10%;
}

.col-xs-2.padding-top > h5 {
  font-weight: bold;
}

#no-result-msg {
  text-align: left;
}

ul.sidebar-nav {
  color: white;
}

#error-details {
  font-size: 1em;
  padding-left: 1em;
}

#general-name {
  font-size: 1em;
  font-weight: bold;
  padding-left: 1em;
}

#sidebar-wrapper li.active {
  background-color: #332f2f;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  margin-top: -1.4em;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.full-width-tabs > ul.nav.nav-tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.full-width-tabs > ul.nav.nav-tabs > li {
  float: none;
  display: table-cell;
}

.full-width-tabs > ul.nav.nav-tabs > li > a {
  text-align: center;
}

.form-group.width-full {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 2%;
}

.border-top {
  border-top: solid 1px;
  border-top-color: #C7C7C7;
}

.my-overflow {
  overflow: hidden;
  border-color: black;
}

.padding-top {
  padding-top: 0.7%;
}

.padding-top-btn {
  padding-top: 0.2%;
}

.padding-input {
  padding-left: 6.5%;
  padding-right: 6.5%;
}

div#complex_label {
  margin-left: -1em;
}

li#complex_selector {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 2em;
}

.row.text-center.table-header {
  padding-left: 10%;
}

.col-xs-2.padding-top > h5 {
  font-weight: bold;
}

#no-result-msg {
  text-align: left;
}

.content-title {
  margin-left: 4%;
}

.filter-details {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
}

.filter-details > div {
  margin-top: 10px;
}

.showall-complex-details {
  margin-top: 10%;
}

.btn-circle {
  width: 27px;
  height: 27px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-modify {
  background-color: #f5f5f5;
}

#modify-complex-submit {
  display: none;
}

.form-control.modify-field-input {
  background: transparent;
  border: none;
  display: inline-block;
  width: 100%;
  cursor: default;
}

.input-enabled-background {
  background: white;
  display: inline-block;
  width: 100%;
}

.general-input-format {
  display: inline-block;
  width: 40%;
}

.inline-block-space-form {
  display: inline-block;
  width: 100%;
}

.row.text-center.special-conditions-data {
  margin-left: 5%;
  margin-right: 5%;
}

fieldset.form-group {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table-hover tbody tr:hover td {
  background-color: #d9d9d9;
}

#special-condition-add-btn-row {
  padding-top: 17%;
}

.delete-condition span.glyphicon.glyphicon-trash, span.glyphicon.glyphicon-pencil {
  color: black;
}

.form-warning {
  color: red;
  display: inline-block;
  font-size: 13px;
}

div.row.text-center.my-no-padding-left {
  padding-left: 0%;
}

span.glyphicon.glyphicon-trash.color-white {
  color: white;
}

th.col-md-3 {
  text-align: center;
}

.save-schedule-changes {
  text-align: center;
}
