.panel-booking-form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#data-container {
  padding-left: 20%;
}

#book-row {
  padding: 7%;
}

.form-data {
  margin-bottom: 7px;
}

#price-data {
  font-size: 25px;
  font-weight: bold;
  color: #3C763D;
}

.requirement-message {
  color: red;
}

.form-warning {
  color: red;
  padding-top: 1em;
}

#hidden_resubmit {
  display: none;
}

.form-data form input[type=text] {
  border: #FFFFFF;
  background-color: #FFFFFF;
  color: black;
}

.control-label-field {
  border: #FFFFFF;
  background-color: #FFFFFF;
  color: black;
}

#back-btn.btn.btn-success {
  background-color: #DDDDDD;
  border-color: #DDDDDD;
  color: #333338;
}
