.day-container {
  background-color: #FFFFFF;
  background: transparent;
  width: 2.5em;
  height: 2.5em;
  display: inline-block;
  margin-left: 0.07em;
  align-content: center;
  text-align: center;
  border-radius: 1.25em;
  /*
  border-top-color: #000000;
  border-style: solid;
  */
}

.day-indicator {
  background-color: #FFFFFF;
  background: transparent;

  color: #888888;
  font-weight: bold;

  /*
  background-color: #777777;
  color: white;
  */
}

.day-container-enabled:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.selected-day {
  background-color: #3a963a;
  color: white;
}

.selected-day:hover {
  background-color: #5cb85c;
}

.day-container-void {

  background-color: #FFFFFF;
  background: transparent;
  color: #999999;

  /*
  background-color: #999999;
  color: #999999;
  */
}

.day-text {
  font-size: 1em;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 22%;

}

.day-text-today {
  font-size: 1em;
  margin: 0;
  padding-top: 22%;
}

.day-row-container {
  display: block;
  margin-top: 0.07em;
}

.day-container-enabled .day-text {
  color: #555555;
}

.selected-day .day-text {
  color: white;
}

.month-name {
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.month-arrow, .month-name {
  display: inline-block;
}

.month-arrow {
  /*
      background-color: #3c763d;
      border-radius: 0.75em;
      color: white;
  */
  font-size: 1.5em;
  color: #3c763d;
  font-weight: bold;
  width: 2em;
  height: 2em;
}

#right-arrow, #left-arrow {
  width: 2em;
  height: 2em;
}

.month-arrow:hover {
  cursor: pointer;
}
