#general-name {
  font-size: 2em;
  font-weight: bold;
}

#error-details {
  font-size: 1.40em;
}

#deflated-error {
  margin-top: 0em;
  width: 37%;
}

@media (min-width: 800px) {
  img#deflated-error {
    margin-top: 0em;
  }
}

.error-body {
  padding-top: 1em;
  padding-bottom: 1em;
}

a.btn.btn-success {
  font-size: 1em;
}

.success-panel.text-center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
