#index-background{
  background-image: url('../images/fondo1.jpg');
}

#filter-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-format {
  margin-top: -1.2em;
}

img.user-icon-format {
  width: 65%;
  display: block;
  margin: 0;
}

button#available_pitches {
  margin-bottom: 1em;
}

body {
  padding-top: 70px;
  background-color: #8ABF79;
}

.main-logo {
  width: 35em;
}

.result-container {
  border-radius: 0.1px;
  width: 100%;
}

.result {
  text-align: left;
  margin-left: 1%;
  margin-right: auto;

}

a.white-link {
  text-decoration: none;
  color: white;
}

a.white-link:hover {
  text-decoration: none;
  color: white;
}

.login-btn {
  margin-top: 6%;
}

.register-btn {
  margin-top: 4%;
}

.result-view:hover {

}

.items-container:hover {
  color: black;
}

.item {
  display: block;
}

.inline_div {
  display: inline-block;
  padding-top: 0.25%;
  margin-right: 5em;
}

#our-fb-login-btn {
  margin-top: 0.8em;
}

.form-padding-right {
  padding-right: 2px;
}

.form-padding-left {
  padding-left: 2px;
}

.logged-user-margin {
  margin-right: -15px;
}

.items-container {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  color: black;
}

.complex-name {
  font-weight: bold;
  font-size: 2em;
  text-transform: capitalize;
  color: white;
}

#title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.price {
  font-size: 25px;
}

.filter-form {
  display: inline-block;
}

.filter-container {
  height: 3em;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 45%;
}

.vertical-align {
  margin-top: 0.4em;
}

.vertical-align.btn {
  margin-top: 0.4em;
}

.greeting {
  font-size: 1.5em;
  color: white;
  text-align: right;
}

.aux {

  margin-bottom: 0;
  height: 100%;

}

.padding-left {
  padding-left: 1%;
}

.text-center {
  text-align: center;
}

.border-bottom {
  border-bottom: solid 1px;
  border-color: #C7C7C7;
}

.filters-margin {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 2%;
}

.floor-radio {

}

.display-inline {
  display: inline-flex;
}

.margin-radio {
  margin-right: 10%;
  margin-left: 10%;
}

.my-text-left {
  padding-left: 9%;
  text-align: left;
}

.my-border-bottom {
  border-bottom: 1px solid #C7C7C7;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 90%;
  margin-left: 5%;
}

.booking {
  background-color: #22b162;
  color: white;
  cursor: pointer;
  cursor: hand;

}

.view-all {
  background-color: #2e6da4;
  color: white;
  cursor: pointer;
  cursor: hand;
}

.max-heigth1 {
  padding-top: 2%;
}

.max-heigth2 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.border-left {
  border-left: solid 1px;
  border-left-color: #d8d8d8;

}

.no-padding {
  padding: 0;
}

.vertical-align-booking {
  padding-top: 5%;
  padding-bottom: 2%;
}

.my-overflow {
  overflow: hidden;
  border-color: black;
}

.complex-name-container {
  background-color: #000000;
}

.white {
  color: white;
}

.loading {
  text-align: center;
  font-size: 1.7em;
}

.my-btn {
  padding-bottom: 0%;
  padding-top: 1%;
  font-size: medium;
}

.item2 {
  font-size: medium;
  padding-top: 3%;
}

.border-card1 {
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-color: black;
}

.border-card2 {
  border-left: solid 1px;
  border-color: black;
}

.item3 {
  font-size: x-large;
  padding-top: 20%;
}

.padding-left-card {
  padding-left: 6%;
}

#bs-example-navbar-collapse-1 {
  text-align: right;
}

h4.filters-margin {
  text-align: center;
  padding-right: 4em;
}

h4.filters-margin.middle-block {
  text-align: center;
  padding-right: 0;
}

.maginless {
  margin-top: 1%;
  margin-bottom: 1%;
}

.my-text-left-2 {
  padding-left: 0;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.my-container-blur {
  background-color: rgba(253, 255, 248, 0.94);

}

.my-container-blur2 {
  background-color: rgba(253, 255, 248, 0.93);

}

.element-button-text {
  display: inline-block;
}

.element-button-icon {
  display: inline-block;
  padding-right: 1em;
}

.padding-left-navbar {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 800px) {
  .padding-left-navbar2 {
    padding-left: 0px;
  }

  img#deflated {
    margin-top: -3em;
    width: 25%;
  }
}

@media (max-width: 800px) {
  .padding-left-navbar2 {
    padding-left: 15px;
  }

  img#deflated {
    margin-top: 0px;
    width: 25%;
  }
}

#valoration-panel {
  position: absolute;
  left: 15%;
  top: -30px;
  overflow-y: visible;
  height: 5em;
  width: 25em;
  background-color: #FFFFFF;
  border-style: solid;
  border-top-style: hidden;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  z-index: 1;
}

.vote-container {
  position: relative;
  display: inline-block;
  padding-top: 5%;
  padding-bottom: 5%;
}

#vote-text {
  display: inline-block;
  padding-top: 4.5%;
  padding-left: 3%;
  font-weight: bold;
}

.no-left-margin {
  margin-left: 0;
}

.username-navbar {
  color: white;
  font-size: x-large;
  padding-top: 1%;
}
