span.required-field {
  color: red;
}

.main-registration-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#back-btn {
  //margin-top: 1em;
  //width: 70%;
  //margin-left: auto;
  //margin-right: auto;
  background-color: #C8C8C8;
}

#register-btn {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.register-form-controller {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form-warning {
  color: red;
}
