.schedule_node {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #3a963a;
  display: inline-block;
  position: absolute;
  z-index: 5;
  //top: 50px;
}

.schedule_node:hover {
  background-color: #42ab42;
}

.schedule-fixed-node {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #6e6e6e;
  display: inline-block;
  position: absolute;
  z-index: 5;
  visibility: hidden;
  //top: 50px;
}

.schedule_price {
  display: inline-block;
  height: 26px;
  width: 8px;
  background-color: #4fbb4e;
  position: absolute;
  //top: 52px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  z-index: 4;
  border: 0;
}

.schedule_price:hover {
  background-color: #3a963a;
  color: white;
  border: 0;
}

.background_schedule_price {
  display: inline-block;
  height: 24px;
  width: 8px;
  border: 1px solid darkgray;
  background-color: transparent;
  position: absolute;
  border-radius: 12px;
  //top: 52px;
  enabled: false;
  color: white;
  text-align: center;
  z-index: 0;
}

#schedule_container {
  background-color: transparent;
  display: inline-block;
  height: 20em;
  //width:10em;
}

#schedule-context-menu {
  height: 20px;
  width: 150px;
  background-color: #5c5c5c;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
}

.context-button {
  height: 20px;
  width: 75px;
  padding: 0;
  position: absolute;
  top: 0;
  background-color: #5c5c5c;
  color: #d7dfff;
  vertical-align: middle;
  text-align: center;
  span {
    padding-top: 50%;
  }
  z-index: 15;

}

#right-context-button {
  left: 75px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0.2px solid #3c3c3c;
}

#right-context-button:hover {
  background-color: #7c7c7c;
}

#left-context-button {
  left: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#left-context-button:hover {
  background-color: #7c7c7c;
}

.closed-entry {
  background-color: #a6bed6;
}

.closed-entry:hover {
  background-color: #b5cfe9;
}

html {
  ui-tooltip: "ui-corner-all ui-widget-shadow"
}

.schedule-day-header {
  left: 5px;
  z-index: 2;
  height: 30px;
  font-weight: bold;
  font-size: 1.2em;
  color: #666666;
  position: absolute;

}
