body {
  padding-top: 70px;
  background-color: #8ABF79;
}

div .result-container {
  border-radius: 0.1px;
  width: 100%;
}

div .result-filter-container {
  border-radius: 0.1px;
}

div .result {
  text-align: left;
  margin-left: 5px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 5px;
  border-style: none;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  height: 98px;
  opacity: 1;
}

a.white-link {
  text-decoration: none;
  color: white;
}

a.white-link:hover {
  text-decoration: none;
  color: white;
}

.login-btn {
  margin-top: 6%;
}

.register-btn {
  margin-top: 4%;
}

.result-view:hover {

}

.items-container:hover {
  color: black;
}

.item {
  display: block;
}

.inline_div {
  display: inline-block;
  padding-top: 0.25%;
}

.items-container {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  color: black;
}

.complex-name {
  font-weight: bold;
  font-size: 2em;
  text-transform: capitalize;
  color: white;
}

#title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.price {
  font-size: 25px;
}

.filter-form {
  display: inline-block;
}

.filter-container {
  height: 3em;
}

.send-message {
  margin-left: 1em;
}

textarea {
  resize: none;
}

.container-format {
  margin-top: -1.2em;
}

.half-width {
  width: 45%;
}

.vertical-align {
  margin-top: 0.4em;
}

.vertical-align.btn {
  margin-top: 0.4em;
}

.greeting {
  font-size: 1.5em;
  color: white;
  text-align: right;
}

.aux {

  margin-bottom: 0;
  height: 100%;

}

.padding-left {
  padding-left: 1%;
}

.text-center {
  text-align: center;
}

.border-bottom {
  border-bottom: solid 1px;
  border-color: #C7C7C7;
}

.filters-margin {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 2%;
}

.floor-radio {

}

.display-inline {
  display: inline-flex;
}

.margin-radio {
  margin-right: 10%;
  margin-left: 10%;
}

.my-text-left {
  padding-left: 9%;
  text-align: left;
}

.my-border-bottom {
  border-bottom: 1px solid #C7C7C7;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 90%;
  margin-left: 5%;
}

.booking {
  background-color: #22b162;
  color: white;
  cursor: pointer;
  cursor: hand;

}

.booking:hover {
  background-color: #32c172;
  color: white;
  cursor: pointer;
  cursor: hand;

}

.view-all {
  /*
  background-color: #777777;
  */
  background-color: #2e6da4;
  color: white;
  cursor: pointer;
  cursor: hand;
}

.view-all:hover {
  /*
    background-color: #999999;
    */
  background-color: #3e7db4;
  color: white;
  cursor: pointer;
  cursor: hand;
}

.max-heigth1 {
  padding-top: 34px;
}

.max-heigth1 div div {
  padding-top: 0;
}

.max-heigth2 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.border-left {
  border-left: solid 1px;
  border-left-color: #d8d8d8;

}

.no-padding {
  padding: 0;
}

.vertical-align-booking {
  padding-top: 5%;
  padding-bottom: 2%;
}

.my-overflow {
  overflow: hidden;
  border-color: black;
}

.complex-name-container {
  background-color: #000000;
}

.white {
  color: white;
}

.full-width {
  width: 100%;
}

.loading {
  text-align: center;
  font-size: 1.7em;
}

.loading-card {
  text-align: center;
  font-size: 1.35em;
  padding-top: 1em;
}

.panel.panel-default.result.padding-left.my-overflow.loading-card-container {
  height: 10em;
}

.loading-text {
  padding-top: 0.75em;
}

.no-results-text {
  padding-top: 1.8em;
}

.no-results-img {
  width: 10%;
}

.my-btn {
  padding-bottom: 0%;
  padding-top: 1%;
  font-size: medium;
}

.item2 {
  font-size: medium;
  padding-top: 3%;
}

.item2 p {
  margin-bottom: 0;
}

.border-card1 {
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-color: black;
  border-style: none;

}

.border-card2 {
  border-left: solid 1px;
  border-color: black;
  border-style: none;
}

.item3 {
  font-size: x-large;
  padding-top: 20%;
}

.padding-left-card {
  padding-left: 6%;
}

#bs-example-navbar-collapse-1 {
  text-align: right;
}

h4.filters-margin {
  text-align: center;
  padding-right: 4em;
}

.maginless {
  margin-top: 1%;
  margin-bottom: 1%;
}

.my-text-left-2 {
  padding-left: 0;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

div .my-container-blur {
  background-color: rgba(255, 255, 255, 0.96);

}

.my-container-blur2 {
  background-color: rgba(255, 255, 255, 0.96);

}

.element-button-text {
  display: inline-block;
}

.element-button-icon {
  display: inline-block;
  padding-right: 1em;
}

.padding-left-navbar {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 800px) {
  .padding-left-navbar2 {
    padding-left: 0px;
  }
  img#deflated {
    margin-top: -3em;
    width: 25%;
  }
}

@media (max-width: 800px) {
  .padding-left-navbar2 {
    padding-left: 15px;
  }

  img#deflated {
    margin-top: 0px;
    width: 25%;
  }
}

#valoration-panel {
  left: 15%;
  top: -30px;
  overflow-y: visible;
  height: 5em;
  width: 25em;
  background-color: #FFFFFF;
  border-style: solid;
  border-top-style: hidden;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  z-index: 1;
}

.vote-container {
  position: relative;
  display: inline-block;
  padding-top: 5%;
  padding-bottom: 5%;
}

#vote-text {
  display: inline-block;
  padding-top: 4.5%;
  padding-left: 3%;
  font-weight: bold;
}

.result-card {
  padding-left: 10px;
}

.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}

.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.tag a:hover {
  opacity: 1.0
}

.tag .remove {
  vertical-align: bottom;
  top: 0;
}

.tag a {
  margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.accepted-email-container {
  padding-top: 1em;
  text-align: left;
}

.email-container {
  margin: 0.25em;
  display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
