button.btn.btn-success.btn-xs {
  margin-top: -0.38em;
  margin-left: -1.1em;
  width: 2.53em;
  height: 2.33em;
  background: none;
  border: none;
  border-radius: 0em;
}

.modal-data {
  font-weight: bold;
}

button.btn.btn-success.btn-xs:hover {
  background: #f9605b;
}

button.btn.btn-success.btn-xs {
  background: #d9534f;
}

#firstName {
  font-size: 3em;
}

#personalInfo {
  color: #5e5e5e;
}

#userDataContainer {
  width: 100%;
  padding: 3%;
  display: block;
  margin-top: 0;
}

#history {
  margin-top: 0;
  padding: 3%;
  display: block;
}

#pending {
  margin-top: 0;
  padding: 3%;
  display: block;
}

#mainContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  padding: 3%;
}

body {
  background-color: #449d44;
}

.panelTitle {
  font-size: 1.5em;
}

.reserve-registry {
  background-color: #44aa87;
  border: 1px solid #ccc !important;
  border-radius: 3px;
  width: 100%;
  padding-top: 0.3em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2em;
  color: white;
}

.next-reserve-registry {
  border: 1px solid #ccc !important;
  border-radius: 3px;

  width: 100%;
  padding-top: 0.3em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2em;
}

.next-reserve-registry-text {
  font-size: 1em;
}
