<!doctype html>
<html class="no-js">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<head>
  <meta charset="utf-8">
  <!--<title>{{siteTitle}}</title>-->
  <title>Hay Equipo</title>
  <meta name="description" content="">

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

<!--
  <base href="."/>
-->

</head>
<body id='index-background' background="images/fondo1.jpg"/>
>
<body ng-controller="IndexCtrl as ic">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <div ng-show="isAdmin()">
        <a class="navbar-brand" href="#/admin">Hay Equipo</a>
      </div>
      <div ng-show="!isAdmin()">
        <a class="navbar-brand" href="#/">Hay Equipo</a>
      </div>


    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <div ng-show="!loggeduser" class="inline_div row">
        <div class="col-md-4 col-xs-12 form-padding-right">
          <input class="form-control vertical-align" ng-model="username" id="username" name="j_username" type="text"
                 placeholder="Usuario o email">
        </div>
        <div class="col-md-4 col-xs-12 form-padding-left form-padding-right">
          <form ng-submit="submitlogin()">
            <input class="form-control vertical-align" ng-model="password" id="password" name="j_password"
                   type="password"
                   placeholder="Contraseña">
          </form>
        </div>

        <!--    <input name="j_rememberme" type="checkbox"> -->
        <div class="col-md-4 col-xs-12 text-center">
          <div class="row">
            <div class="col-md-5 col-xs-12 form-padding-right">
              <button type="button" ng-click="login()" id="login"
                      class="btn btn-success vertical-align register-btn btn-block padding-left-navbar">Ingresar
              </button>
            </div>
            <div class="col-md-5 col-xs-12 form-padding-left form-padding-right">
              <a href="#/register"
                 class="btn btn-success vertical-align register-btn btn-block padding-left-navbar">Registrarme</a>
            </div>
            <div class="col-md-2 col-xs-12 form-padding-left">
              <div id="our-fb-login-btn" onlogin="fbLoginCallback(this);" class="fb-login-button vertical-align padding-left-navbar" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="loggeduser" class="inline_div row logged-user-margin">
        <div class="col-md-10 col-xs-12">
          <div class="greeting">
            <a class="white-link"> {{loggeduser}} </a>
          </div>
          <div class="logout">
            <a class="white-link" ng-click="logout()" href=""> Cerrar sesión </a>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <a href="#/user">
            <img src="images/user-icon.png" class="user-icon-format"/>
          </a>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </div>
  <!-- /.container -->
</nav>
<div class="container container-format">
  <div ng-view=""></div>
</div>


<div id="fb-root"></div>
<script>(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=218740625229988";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->
<script src="scripts/paths.js"></script>
<script src="bower_components/requirejs/require.js" data-main="scripts/build.js"></script>
</body>
</html>
