<div id="mainContainer" class="panel panel-default my-container-blur">
  <p id="firstName">
    {{us.firstname}} {{us.lastname}}
  </p>
  <div class="row">
    <div class="col-sm-6">
      <div id="userDataContainer" class="panel panel-default">
        <p class="panelTitle">
          Detalles
        </p>
        <div id="personalInfo">
          <p ng-show="username">Nombre de usuario: {{username}}</p>
          <p ng-show="fullname">Nombre: {{fullname}}</p>
          <p ng-show="email">Dirección de email: {{email}}</p>
          <p ng-show="phone">Teléfono: {{phone}}</p>
        </div>
      </div>
      <div id="pending" class="panel panel-default">
        <p class="panelTitle">
          Reservas
        </p>

        <div ng-show="!bookings">
          <div class="loading-card"><img src='images/loading.gif'/>
            <div class="loading-text">Cargando reservas</div>
          </div>
        </div>
        <div ng-show="bookings">
          <div ng-repeat="booking in bookings" class="row next-reserve-registry">
            <div class="col-xs-3">{{booking.stringDate}}</div>
            <div class="col-xs-2">{{booking.begin}}:00hs</div>

            <div class="col-xs-5 next-reserve-registry-text" ng-show="!wasTrimmed(booking)">{{booking.complexName}}</div>


            <div class="col-xs-5 next-reserve-registry-text" ng-show="wasTrimmed(booking)" data-toggle="tooltip"
                 data-placement="bottom" title="{{booking.complexFullName}}">{{booking.complexName}}</div>



            <div class="col-xs-1">
              <div ng-show="cancel(booking.date)">
                <button class="btn btn-success btn-xs delete-button"
                        ng-click="deleteuserbooking(booking.date,booking.begin,booking.complexId, booking.pitchId)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="noReserves">
          No hay reservas pendientes.
        </div>


      </div>
    </div>

    <div class="col-sm-6">
      <div id="history" class="panel panel-default">
        <p class="panelTitle">
          Historial
        </p>

        <div ng-show="!history">
          <div class="loading-card"><img src='images/loading.gif'/>
            <div class="loading-text">Procesando</div>
          </div>
        </div>
        <div ng-show="history">
          <div ng-repeat="hist in history" class="reserve-registry row">
            <div class="col-xs-4">{{hist.stringDate}}</div>
            <div class="col-xs-3">{{hist.begin}}:00hs</div>
            <div class="col-xs-5 next-reserve-registry-text">{{hist.complexName}}</div>
          </div>
        </div>
        <div ng-show="noHistory">
          No hay reservas en el historial.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.modal-content -->


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
          class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Cancelar una reserva</h4>
      </div>
      <div class="modal-body" id="delete_entry">
        <span>¿Está seguro que desea cancelar la reserva?</span>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" data-dismiss="modal">Volver</button>
        <button type="button" id="delete_reserve" class="btn btn-default" ng-click="confirmdeleteuserbooking()">Cancelar
          reserva
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /.modal-content -->
