<div class="container">
  <div class="panel-booking-form text-center">
    <div class="panel panel-success result-container my-container-blur">
      <div class="panel-heading">
        <div id="general-name">
          Detalles de la reserva
        </div>
      </div>
      <!-- Direccion, telefono, email, fecha, hora, suelo, precio
      -->
      <div class="panel-body" id="book-row">
        <div id="booking-form-container">
          <!--<c:url var="formPath" value="/confirmBooking"/>-->
          <!-- <form modelAttribute="bookingConfirmationForm" method="post" action="${formPath}"
                      id="bookingForm">
             -->
          <div class="row" id="data-container">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group text-left row form-data">
                  <label class="control-label" path="complexName">Complejo: </label>
                  <!--<out value="${bookingConfirmationForm.complexName}"></out>-->
                  {{results.name}}
                </div>
                <div class="form-group text-left row form-data">
                  <label class="control-label" path="complexPhone">Teléfono: </label>
                  <!--<out value="${bookingConfirmationForm.complexPhone}"></out>-->
                  {{results.phone}}

                </div>
                <div class="form-group text-left row form-data">
                  <label class="control-label" path="complexEmail">Email: </label>
                  <!--<out value="${bookingConfirmationForm.complexEmail}"></out>-->
                  {{results.email}}

                </div>
                <div class="form-group text-left row form-data">
                  <label class="control-label" path="complexAddress">Dirección: </label>
                  <!--<out value="${bookingConfirmationForm.complexEmail}"></out>-->
                  {{results.address}}

                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group text-left row form-data">
                  <label class="control-label" path="stringDate">Fecha: </label>
                  <!--<out value="${dateView}"></out>-->
                  {{results.date}}

                </div>
                <div class="form-group text-left row form-data">
                  <label class="control-label" path="startTime">Hora: </label>
                  <!--<out value="${bookingConfirmationForm.startTime}:00"></out>-->
                  {{results.startTime}}:00

                  -
                  <!--<out value="${bookingConfirmationForm.startTime+1}:00"></out>-->
                  {{results.endTime}}:00

                </div>
                <div class="form-group text-left row form-data">
                  <label class="control-label" path="stringDate">Suelo: </label>
                  <!--<out value="${bookingConfirmationForm.pitchFloor}"></out>-->
                  {{results.floor}}

                </div>
                <div class="form-group text-left row form-data">
                  <label class="control-label" path="pitchSize">Tamaño: </label>
                  <!--<out value="${bookingConfirmationForm.pitchSize}"></out>-->
                  {{results.size}}

                </div>
                <br>
                <br>
              </div>
              <!--<input type="hidden" path="stringDate" id="formDate"/>-->
              <!--<input type="hidden" path="pitchId" id="formPitchId"/>-->
              <!--<input type="hidden" path="complexId" id="formComplexId"/>-->
              <!--<input type="hidden" path="startTime" id="formStartTime"/>-->
              <!---->
            </div>
            <div class="row">
              <div class="form-group text-left form-data" id="price-data">
                <label class="control-label">Precio: $</label>
                <!--$<out value="${bookingConfirmationForm.price}"></out>-->
                {{results.price}}

              </div>
            </div>
          </div>
          <br>
          <div ng-show="!isProcessing" id="confirm_form" class="row confirm_form">
            <div class="col-md-6 col-xs-12">
              <button type="button" id="back-btn" class="btn btn-default btn-block"
                      data-container="body" ng-click="backButton()">Cancelar
              </button>
            </div>
            <!--Trigger the modal with a button -->
            <div class="col-md-6 col-xs-12">
              <button ng-show="!loggeduser" type="button" class="btn btn-success btn-block"
                      ng-click="displayPreconfirm()">Ingresar y confirmar reserva
              </button>

              <button ng-show="loggeduser" type="submit" id="confirm_booking"
                      class="btn btn-success btn-block" data-container="body" data-toggle="tooltip"
                      ng-click="confirmBooking()">
                Confirmar reserva
              </button>
            </div>
            <div>
              <div id="bookin-message" class="form-warning">{{bookingError}}</div>
            </div>
          </div>

          <div ng-show="isProcessing">
            <div class="loading"><img src='images/loading.gif'/> Procesando</div>
          </div>

          <br>
          <!--</form>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="preconfirm" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title">Ingresar y confirmar reserva</h4>
      </div>
      <form id="reconfirm_form" ng-submit="loginAndRegister()" method="post"
            enctype="application/x-www-form-urlencoded">

        <div class="modal-body">
          <div id="modal_confirm_form" class="row confirm_form">
            <div class="col-md-5 col-xs-5">
              <input class="form-control vertical-align" id="username" name="j_username" type="text"
                     placeholder="Usuario o email" ng-model="form.username">
            </div>
            <div class="col-md-5 col-xs-5">
              <input class="form-control vertical-align" id="password" name="j_password" type="password"
                     placeholder="Contraseña" ng-model="form.password">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div>
              <div id="register-bookin-message" class="form-warning">{{registerBookinMessage}}</div>
            </div>
            <div class="col-md-1 col-xs-1"></div>
          </div>
        </div>
        <div class="modal-footer">
          <div ng-show="!isProcessing">
            <button type="button" value="Cancelar" data-dismiss="modal" class="btn btn-default"
                    data-container="body">Cancelar
            </button>

            <button type="button" value="Confirmar reserva" id="reconfirm_booking" class="btn btn-success "
                    data-container="body" data-toggle="tooltip" ng-click="loginAndRegister()">Confirmar reserva
            </button>
            <button type="submit" id="hidden_resubmit"></button>
          </div>
          <div ng-show="isProcessing">
            <div class="loading"><img src='images/loading.gif'/> Procesando</div>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>
