<div class="container">
  <div class="row">
    <div class="success-panel text-center">
      <div class="panel panel-success result-container my-container-blur">
        <div class="panel-heading">
          <div id="general-name">
            Reserva realizada
          </div>
        </div>
        <div class="success-body">
          <br>
          <div id="success-details">
            La reserva se ha realizado exitosamente.<br>
            Te hemos enviado un correo electrónico a tu email con los detalles.
          </div>

          <div class="content-container clearfix">
            <h3 class="content-title">Invitar jugadores</h3>
            <div class="col-md-8 col-md-offset-2" >


              <form class="form-group" id="email-input-container" ng-show="!emailsSent">
                <input ng-model="emailList" ng-submit="emailListChangeEnter()" ng-trim="false" ng-change="emailListChange()" id="emailListInput"
                       type="text" class=" form-control noresize" placeholder="Emails"/>
                <div class="accepted-email-container">
                 <span ng-repeat="email in acceptedEmailList" class="tag label label-success email-container">
                  <span>{{email}}</span>
                  <a><i ng-click="removeEmail(this)" class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                </span>
                  &nbsp;
                </div>

                <textarea ng-model="emailComment" class="form-control" placeholder="Comentario"></textarea>
              </form>

              <div ng-show="emailsSent">
                <div id="success-email-detals">
                  Las invitaciones fueron enviadas correctamente
                </div>
              </div>

              <div class="btn-send">
                <br>
                <a href="#/" class="btn btn-default" role="button">Volver al inicio</a>
                <button id="invitePlayersBtn"  ng-show="!emailsSent"  class="disabled btn btn-success send-message" ng-click="invitePlayers()">Enviar invitaciones</button>

              </div>
            </div>
          </div>


        </div>
        <br>
      </div>
    </div>
  </div>
</div>
