

<!-- Page Content -->
<div class="container">
  <div class="row main-registration-container">
    <div class="col-lg-12 text-center">
      <div class="panel panel-success result-container my-container-blur2">
        <div class="panel-heading">
          <div id="general-name">
            Registrarme
          </div>
        </div>

        <div ng-controller="RegisterCtrl as controller" class="panel-body register-form-controller">
          <form name="registerForm" novalidate class="panel-body register-form-controller">
            <div class="form-group text-left">
              <label>Nombre</label><span class="required-field">*</span>
              <input class="form-control" type="text"
                     name="firstName"
                     required
                     ng-model="firstName"
                     ng-maxlength="60"
              />

              <div style="color:maroon" role="alert">
                <div ng-show="registerForm.firstName.$error.required && registerForm.firstName.$dirty">
                  Este campo es obligatorio.
                </div>
                <div ng-show="registerForm.firstName.$error.maxlength && registerForm.firstName.$dirty">
                  El nombre no puede tener más de 60 caracteres.
                </div>
              </div>

            </div>

            <div class="form-group text-left">
              <label>Apellido</label><span class="required-field">*</span>
              <input class="form-control" type="text"
                     name="lastName"
                     required
                     ng-model="lastName"
                     ng-maxlength="60"/>

              <div style="color:maroon" role="alert">
                <div ng-show="registerForm.lastName.$error.required && registerForm.lastName.$dirty">
                  Este campo es obligatorio.
                </div>
                <div ng-show="registerForm.lastName.$error.maxlength && registerForm.lastName.$dirty">
                  El apellido no puede tener más de 60 caracteres.
                </div>
              </div>
            </div>

            <div class="form-group text-left">
              <label>Dirección de email</label><span class="required-field">*</span>
              <input class="form-control" type="email"
                     name="email"
                     required
                     ng-model="email"
                     ng-maxlength="100"/>

              <div style="color:maroon" role="alert">
                <div ng-show="registerForm.email.$error.email">La dirección de email es inválida</div>
                <div ng-show="registerForm.email.$error.required && registerForm.email.$dirty">
                  Este campo es obligatorio.
                </div>
                <div ng-show="registerForm.email.$error.maxlength && registerForm.email.$dirty">
                  La dirección de email no puede tener más de 100 caracteres.
                </div>
              </div>
            </div>

            <div class="form-group text-left">
              <label>Nombre de usuario</label>
              <span title="La longitud mínima es de 6 caracteres" class="btn-mini" data-placement="bottom">
                         <i class="glyphicon glyphicon-info-sign"></i>
              </span>
              <input class="form-control" type="text"
                     name="registerUsername"
                     ng-model="registerUsername"
                     ng-minlength="6"
                     ng-maxlength="20"
              />

              <div style="color:maroon" role="alert">
                <div ng-show="registerForm.registerUsername.$error.maxlength && registerForm.registerUsername.$dirty">
                  El nombre de usuario no puede tener más de 20 caracteres.
                </div>
                <div ng-show="registerForm.registerUsername.$error.minlength && registerForm.registerUsername.$dirty">
                  El nombre de usuario debe tener más de 6 caracteres.
                </div>
              </div>
            </div>

            <div class="form-group text-left">
              <label>Teléfono</label><span class="required-field">*</span>
              <input class="form-control" type="text"
                     name="phone"
                     required
                     ng-model="phone"
                     ng-maxlength="20"/>

              <div style="color:maroon" role="alert">
                <div ng-show="registerForm.phone.$error.required && registerForm.phone.$dirty">
                  Este campo es obligatorio.
                </div>
                <div ng-show="registerForm.phone.$error.maxlength && registerForm.phone.$dirty">
                  El número de teléfono no puede tener más de 20 caracteres.
                </div>

              </div>
            </div>

            <div class="form-group text-left">

              <label>Contraseña</label><span class="required-field">*</span>
              <span title="La longitud mínima es de 7 caracteres" class="btn-mini" data-placement="bottom">
                         <i class="glyphicon glyphicon-info-sign"></i>
              </span>
              <input class="form-control" type="password"
                     name="registerPassword"
                     required
                     ng-model="registerPassword"
                     ng-minlength="7"
                     ng-maxlength="50"/>

              <div style="color:maroon" role="alert">
                <div ng-show="registerForm.registerPassword.$error.required && registerForm.registerPassword.$dirty">
                  Este campo es obligatorio.
                </div>
                <span ng-show="registerForm.registerPassword.$error.maxlength && registerForm.registerPassword.$dirty">
                  La contraseña no puede tener más de 50 caracteres.</span>
                <span ng-show="registerForm.registerPassword.$error.minlength && registerForm.registerPassword.$dirty">
                  La contraseña debe tener más de 7 caracteres.</span>
              </div>
            </div>

            <div class="form-group text-left">

              <label>Confirmar contraseña</label><span class="required-field">*</span>
              <input class="form-control" type="password"
                     name="confirmation"
                     required
                     ng-model="confirmation"
                     compare-to="registerPassword"/>
              <br>
              <span ng-show="registerForm.confirmation.$dirty && confirmation!=registerPassword"
                    style="color:maroon" role="alert">Las contraseñas no coinciden.
              </span>
            </div>
            <div class="text-left">
              <span class="required-field">* Campos obligatorios</span>
            </div>
            <div class="row">
              <div class="col-lg-6 text-center">
                <button id="back-btn" type="button" ng-click="backButton()" class="btn btn-default btn-block text-right">
                  Volver
                </button>
              </div>
              <div class="col-lg-6 text-center">
                <button ng-disabled="registerForm.$invalid" ng-click="register()" id="register-btn"
                        class="btn btn-success btn-block text-left">
                  Registrarme
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /.row -->

<!-- /.container -->

