<div class="row">
  <div class="col-lg-12 text-center">
    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">-->
    <div class="panel panel-success result-container my-container-blur">
      <div>
        <div ng-show="penddingValoration">
          <div id="valoration-panel" class="row">
            <div id="vote-text" class="col-xs-8">
              <p>
                ¿Te gustó la cancha de {{valoration.complexName}}?
              </p>
            </div>
            <div class="btn-group vote-container col-xs-4">
              <button class="btn btn-danger thumb-button" ng-click="sendValoration(0)">
                <span class="glyphicon glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              </button>
              <button class="btn btn-success thumb-button" ng-click="sendValoration(1000)">
                <span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        <img id="deflated" src="images/logo.png" class="main-logo"/>
        <br>
        <br>
        <div id="filter-container" class="row">
          <div class="col-lg-4 text-center text-center">
            <h4 class="text-center maginless">Fecha</h4>
            <input type="hidden" id="1-date-picker-input"/>
          </div>
          <div class="col-lg-3 text-center">
            <h4 class="text-center maginless">Hora de inicio</h4>
            <div class="row text-center">
              <h6>Desde</h6>
            </div>
            <div class="row">
              <div class="col-md-10 col-xs-10 col-xs-offset-1">
                <fieldset class="form-group">
                  <select ng-model="selectedBeginTime"
                          ng-change="updateBeginTime()"
                          ng-options="time.id as time.displayName for time in beginTimes"
                          class="form-control" id="form_control_begin">
                  </select>
                </fieldset>
              </div>
            </div>
            <div class="row text-center">
              <h6>Hasta</h6>
            </div>
            <div class="row">
              <div class="col-md-10 col-xs-10 col-xs-offset-1">
                <fieldset class="form-group">
                  <select ng-model="selectedEndTime"
                          ng-change="updateEndTime()"
                          ng-options="time.id as time.displayName for time in endTimes"
                          class="form-control" id="form_control_end">
                  </select>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="col-lg-5 text-center">
            <div class="row my-text-left">
              <h4 class="filters-margin">Barrio</h4>
            </div>
            <div class="row filters-margin my-text-left">
              <div class="col-xs-8 col-xs-offset-1">
                <fieldset class="form-group" id="selectAux">
                  <select ng-model="selectedState"
                          ng-options="state.id as state.name for state in states"
                          class="form-control-states form-control" id="form_states">
                  </select>
                </fieldset>
              </div>
            </div>
            <div class="my-border-bottom">
            </div>
            <br>
            <row>
              <div class="col-md-6">
                <div class="row">
                  <h4 class="filters-margin middle-block">Suelo</h4>
                </div>
                <div class="row filters-margin my-text-left">
                  <div class="col-xs-11 col-xs-offset-1 full-width no-left-margin">
                    <fieldset class="form-group">
                      <select ng-model="selectedFloor"
                              ng-options="floor.id as floor.displayName for floor in floors"
                              class="form-control-floors form-control" id="form_floor">
                      </select>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <h4 class="filters-margin middle-block">Tamaño</h4>
                </div>
                <div class="row filters-margin my-text-left">
                  <div class="col-xs-11 col-xs-offset-1 full-width no-left-margin">
                    <fieldset class="form-group">
                      <select ng-model="selectedSize"
                              ng-options="size for size in sizes"
                              class="form-control-size form-control" id="form-control-size">
                      </select>
                    </fieldset>
                  </div>
                </div>
              </div>
            </row>
          </div>
        </div>
        <br>
        <button type="button" ng-click="searchPitches()" id="available_pitches"
                class="btn btn-lg btn-success">Buscar canchas
        </button>
      </div>

    </div>

  </div>
</div>



