<div ng-animate="'animate'" ng-repeat="result in results" class="panel panel-default result padding-left my-overflow">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="row result-card">
        <div class="col-md-5 col-xs-12">
          <div class="row padding-left-card">
            <div class="complex-location item item2 ">
              <strong>{{result.name}}</strong>
            </div>
          </div>
          <div class="row padding-left-card">
            <div class="complex-location item item2 ">
              <p>{{result.address}}</p>
              <p> {{result.state}} </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 max-heigth1">
          <div class="row">
            <div class="complex-location item item2 padding-left-card">
              <p><strong> Hora: </strong>{{result.availablePitch.startTime}}:00</p>
            </div>
          </div>
          <div class="row">
            <div class="complex-location item item2 padding-left-card">
              <p><strong> Suelo: </strong>{{result.availablePitch.floorName}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3  col-xs-12 max-heigth2">
          <div class="complex-location item item3 text-center">
            <strong>$ {{result.availablePitch.price}}</strong>
          </div>
        </div>
      </div>
    </div>
    <div href="#" class="col-md-4 col-xs-12">
      <div ng-click="book(result)" class="row booking result-booking white-text border-card1">
        <div ng-click="book(result)" class="col-xs-12 text-center vertical-align-booking">
          <span class="glyphicon glyphicon-ok element-button-icon" aria-hidden="true"></span>
          <p class="element-button-text">Reservar</p>
        </div>
      </div>
      <div ng-click="showAll(result)" class="row view-all result-view white-text border-card2">
        <div ng-click="showAll(result)" class="col-xs-12 text-center vertical-align-booking">
          <span class="glyphicon glyphicon-th-list element-button-icon" aria-hidden="true"></span>
          <p class="element-button-text">Ver todas</p>
        </div>
      </div>
    </div>
  </div>
</div>
